<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Chat</title>
<link rel="stylesheet" href="/stylesheets/foundation.min.css">
<link rel="stylesheet" href="/stylesheets/background.css">
<link rel="stylesheet" href="/stylesheets/style.css">
<link rel="stylesheet" href="/stylesheets/font.css">
<link rel="stylesheet" href="/stylesheets/hooks.foundation.css">
<script src="/scripts/socket.io.js"></script>
<script src="/scripts/domNodeCreator.js"></script>
<script src="/scripts/domText.js"></script>
<script src="/scripts/dom.js"></script>
<script src="/scripts/socket.js"></script>
</head>
<body>
<nav class="top-bar" data-topbar>
	<ul class="title-area">
		<li class="name"><span class="ico-chat"></span></li>
	</ul>
	<section class="top-bar-section">
		<ul class="left">
			<li class="divider"></li>
			<li class="has-dropdown">
				<a class="active" href="#"><span class="ico-chat"></span></a>
				<ul class="dropdown">
					<li><label>Your services</label></li>
					<li><a href="#">Git</a></li>
					<li><a href="#">Files</a></li>
					<li class="divider"></li>
                	<li><label>Others Services</label></li>
                	<li><a href="#">Compta</a></li>
                	<li><a href="#">Clients</a></li>
               		<li class="divider"></li>
                	<li><a href="#">Tout les services...</a></li>
            	</ul>
            </li>
            <li class="divider"></li>
          	<li><a href="#">Settings</a></li>
		</ul>
		<ul class="right menu-logs">
            		<li class="divider"></li>
					<li><a>Connecting</a></li>
            		<li class="divider"></li>
					<li><a class="logout-button" href="/logout">Log Out</a></li>
        </ul>
	</section>
</nav>
<div class="page-content">
	<!--<div class="row">-->
	<div id="main-content">
		<div class="left-panel" id="room-list"> <!--class="large-3 columns"-->
			<div class="rooms">
			</div>
		</div>
		<div class="main-panel" id="message-panel"><!--large-9 columns-->
			<div class="room-legend">please connect</div>
			<div class="chatArea" id="room0">
				<ul class="messages messageField"></ul>
			</div>
			<input class="inputMessage" id="inputMessage" placeholder="Type here..."/>
		</div>
	</div>
</div>
</body>
<script src="/scripts/main.js"></script>
<script>start("<%=connectionID%>",<%=userID%>)</script>
</html>
