/**
 * Stylesheet de tout le side panel left : 
 * liste, icone, 
 * 
 * 
 *
 * chat : liste des chatrooms avec preview dernier message, messages non lus...	
 * admin :  liste des users/groups, avec nb de user dans groups....
 * 
 * 
 * 
 * */


.side-bar-link{
	margin-bottom : 0;
	border-bottom : 1px solid #e8e8e8;
	cursor:pointer;
}
.side-bar-link:hover {
	background : #FFF2FC;
}

.room-selected {
	background : #F5E8F2;
}

.element-image{
float:left;
}
.element-text div{
text-overflow: ellipsis;
overflow:hidden; 
white-space: nowrap;
}
.element-title{
height: 32px;
line-height : 28px;
font-size:20px;
font-weight:600;
text-overflow: ellipsis;
overflow:hidden; 
}
.element-preview{
height: 32px; text-overflow: ellipsis;overflow:hidden;
 
}
.element-activity{
float:right;
line-height:28px;
}
.element-last-activity{
color : #A6A6A6;
}
/**chat only */
.room-message-count{
	background: #B52D2D;
	color:#FFFFFF;
    border-radius: 16px;
    font-size: 16px;
    font-weight:600;
    margin-top: 4px;
    min-width: 21px;
    padding: 5px;
    text-align: center;
}




